<footer>
	<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
	<div class="project-icons">
		<!-- <a href="https://www.rancher.cn/" target="blank">
			<img src="{{ .Site.BaseURL }}/images/icon-rke.svg" height="20">
		</a>
		<a href="https://www.rancher.cn/" target="blank">
			<img src="{{ .Site.BaseURL }}/images/icon-longhorn.svg" height="20">
		</a> -->
		<a href="/k3s/" target="blank">
			<img src="{{ .Site.BaseURL }}/images/icon-k3s.svg" height="20">
		</a>
		<a href="/k3os/" target="blank">
			<img src="{{ .Site.BaseURL }}/images/icon-k3os.svg" height="20">
		</a>
		<a href="/rio/" target="blank">
			<img src="{{ .Site.BaseURL }}/images/icon-rio.svg" height="20">
		</a>
		<a href="/submariner/" target="blank">
			<img src="{{ .Site.BaseURL }}/images/icon-submariner.svg" height="20">
		</a>
	</div>
</footer>
